* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey700: hsl(0, 0%, 20%);
    --Grey800: hsl(0, 0%, 12%);
    --Grey900: hsl(0, 0%, 8%);
}
body {
    background-color: var(--Grey900);
    font-family: "Inter", sans-serif;
    min-height: 100vh;
    color: var(--White);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.card {
    background-color: var(--Grey800);
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
}
img {
    width: 80px;
    border-radius: 50%;
    margin-bottom: 1rem;
}
h1 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: .5rem;
}
span {
    color: var(--Green);
    font-size: 14px;
}
p {
    font-size: 14px;
    margin: 1rem 0;
    color: var(--White);
    opacity: .8;
}
button {
    display: flex;
    width: 95%;
    justify-content: center;
    margin-bottom: 1rem;
    padding: .5rem;
    background-color: var(--Grey700);
    border: none;
    border-radius: .5rem;
    color: var(--White);
    font-weight: bold;
    cursor: pointer;
}
button:hover {
    background-color: var(--Green);
    color: var(--Grey900);
}
